<div class="login-container">
    <h3>Welcome back!</h3>
    <form class="row g-3" method="post" action="/users">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="inputPassword2" class="form-label">Password</label>
        <input type="password" class="form-control " id="inputPassword2" placeholder="Password">
      </div>
      <input type="submit" value="Login" class="btn btn-primary mb-3">
    </form>
</div>