<!-- <form action="/users" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Sign Up</button>
</form> -->


<div class="login-container">
    <!-- <h3>Welcome back!</h3> -->
    <form class="row g-3" method="POST" action="/users">
        <div class="row g-3">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="firstName">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"  name="lastName">
            </div>
        </div>
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
            <label for="inputPassword2" class="form-label">Password</label>
            <div class="input-container">
                <button type="button" onclick="togglePassword()" class="button-eye">
                    <i id="icon"class="fa-solid fa-eye-slash"></i>
                </button>
                <input type="password" class="form-control icon" id="inputPassword2" placeholder="Password" name="password">
            </div>
        </div>
        <input type="submit" value="Sign Up" class="btn btn-primary mb-3">
        <a href="/users/login" class="forgot-link">Already have an account? Login </a>
    </form>
</div>